name: Tests

on:
  push:
    branches: [ uwu ]
  pull_request:
    branches: [ uwu ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Test
        run: |
          ls
          npm i jest nock
          npm run build
          npm test
